In [35]:
import pandas as pd
import numpy as np
import pickle
from pandas import ExcelWriter
import ffn
%matplotlib inline

def save_xls(list_dfs, xls_path,sheet_names):
    writer = ExcelWriter(xls_path)
    for n, df in enumerate(list_dfs):
        df.to_excel(writer, sheet_names[n])
    writer.save()
    return

#pull in data from AlphaVantage
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='NXY0VT9AHBRYGKKC',output_format='pandas')

In [36]:
active_stocks = pd.read_csv('active_names.csv', index_col = 0).dropna()

In [37]:
def historical_data(ticker, outsize = "full"):
    #outsize can be compact and full. 
    #compact returns only the latest 100 data points; full 
    #returns the full-length time series of up to 20 years of historical data. The "compact" option is 
    #recommended if you would like to reduce the data size of each API call
    alphavantage_link = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={0}&apikey=NXY0VT9AHBRYGKKC&datatype=csv&outputsize={1}'.format(ticker, outsize)
    df = pd.read_csv(alphavantage_link)
    df.index = pd.to_datetime(df.timestamp)
    df = df[['adjusted_close']]
    df.columns = [ticker]
    df.dropna(inplace = True)
    return df

def multiple_tickers(tickers, df):
    for ticker in tickers:
        temp_df = historical_data(ticker)
        df = df.join(temp_df, how = "left")
        #df.dropna(inplace = True)
        df = df.sort_index()
    #df = df.loc[~(df==0).all(axis=1)]
    return df

In [38]:
MOMO = active_stocks.index[0:5]

In [39]:
MAIN = historical_data("SPY")

In [40]:
L =[ticker for ticker in MOMO]

In [41]:
Main_DF = multiple_tickers(L,MAIN)

In [44]:
Main_DF

                 SPY     AMD    TSLA      BAC      FB      JD
timestamp
2000-01-03  102.9236  14.470     NaN  14.1756     NaN     NaN
2000-01-04   98.8987  14.625     NaN  13.3328     NaN     NaN
2000-01-05   99.0756  14.655     NaN  13.4791     NaN     NaN
2000-01-06   97.4833  16.000     NaN  14.6321     NaN     NaN
2000-01-07  103.1447  16.250     NaN  14.2488     NaN     NaN
2000-01-10  103.4986  17.500     NaN  13.7542     NaN     NaN
2000-01-11  102.2601  17.030     NaN  13.4616     NaN     NaN
2000-01-12  101.2429  18.125     NaN  13.6079     NaN     NaN
2000-01-13  102.6140  18.875     NaN  13.9181     NaN     NaN
2000-01-14  104.0072  20.190     NaN  14.7785     NaN     NaN
2000-01-18  103.1890  19.500     NaN  14.0469     NaN     NaN
2000-01-19  104.0294  19.595     NaN  14.0469     NaN     NaN
2000-01-20  102.4371  19.500     NaN  13.7776     NaN     NaN
2000-01-21  102.2159  18.940     NaN  13.3709     NaN     NaN
2000-01-24   99.3188  17.250     NaN  13.0402     NaN     NaN
2000-01-25  100.4467  20.000     NaN  13.2070     NaN     NaN
2000-01-26   99.6506  18.500     NaN  13.7923     NaN     NaN
2000-01-27   99.2525  18.470     NaN  14.0849     NaN     NaN
2000-01-28   96.1564  17.625     NaN  13.3884     NaN     NaN
2000-01-31   98.7660  18.000     NaN  14.1756     NaN     NaN
2000-02-01   99.7390  18.280     NaN  14.3395     NaN     NaN
2000-02-02   99.8275  18.030     NaN  13.9737     NaN     NaN
2000-02-03  101.3313  19.500     NaN  13.5903     NaN     NaN
2000-02-04  100.9111  19.280     NaN  13.4265     NaN     NaN
2000-02-07  100.7563  20.655     NaN  13.2597     NaN     NaN
2000-02-08  102.1275  20.690     NaN  13.7923     NaN     NaN
2000-02-09   99.9823  21.030     NaN  13.4791     NaN     NaN
2000-02-10  100.1813  21.250     NaN  13.1338     NaN     NaN
2000-02-11   98.1467  22.750     NaN  13.2245     NaN     NaN
2000-02-14   98.7217  21.625     NaN  12.9494     NaN     NaN
...              ...     ...     ...      ...     ...     ...
2018-06-05  273.8691  14.850  291.13  29.1200  192.94  38.870
2018-06-06  276.1588  15.670  319.50  30.0400  191.34  40.400
2018-06-07  276.1289  14.890  316.09  30.0900  188.18  39.500
2018-06-08  276.9452  15.250  317.66  30.0100  189.10  39.920
2018-06-11  277.3136  15.730  332.10  30.0600  191.54  39.640
2018-06-12  277.6720  15.850  342.77  29.9000  192.40  41.470
2018-06-13  276.7859  16.320  344.78  29.8400  192.41  41.250
2018-06-14  277.4828  16.250  357.72  29.5000  196.81  43.750
2018-06-15  277.1300  16.340  358.17  29.2800  195.85  43.590
2018-06-18  276.5600  17.110  370.83  29.4000  198.31  43.760
2018-06-19  275.5000  16.690  352.55  29.2600  197.49  41.890
2018-06-20  275.9700  16.520  362.22  29.2400  202.00  41.680
2018-06-21  274.2400  15.650  347.51  29.2900  201.50  40.820
2018-06-22  274.7400  15.800  333.63  28.9900  201.74  40.820
2018-06-25  271.0000  15.110  333.01  28.4800  196.35  39.180
2018-06-26  271.6000  15.500  342.00  28.5400  199.00  39.470
2018-06-27  269.3500  14.970  344.50  28.2400  195.84  38.390
2018-06-28  270.8900  15.310  349.93  28.6700  196.23  38.930
2018-06-29  271.2800  14.990  342.95  28.1900  194.32  38.950
2018-07-02  271.8600  15.160  335.07  28.2800  197.36  38.790
2018-07-03  270.9000  15.000  310.86  27.7800  192.73  38.380
2018-07-05  273.1100  15.500  309.16  27.9200  198.45  38.540
2018-07-06  275.4200  16.360  308.90  28.0300  203.23  39.460
2018-07-09  277.9000  16.610  318.51  29.0500  204.74  39.400
2018-07-10  278.9000  16.550  322.47  28.8300  203.54  38.590
2018-07-11  276.8600  16.270  318.96  28.6800  202.54  37.950
2018-07-12  279.3700  16.560  316.71  28.7700  206.92  38.520
2018-07-13  279.5900  16.270  318.87  28.5500  207.32  38.270
2018-07-16  279.3400  16.580  310.10  29.7800  207.23  38.040
2018-07-17  279.3600  16.600  313.32  29.9600  207.55  37.969

[4664 rows x 6 columns]

In [42]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(Main_DF, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [43]:
with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)