In [47]:
import pandas as pd
import numpy as np
import pickle
from pandas import ExcelWriter
import ffn
%matplotlib inline

def save_xls(list_dfs, xls_path,sheet_names):
    writer = ExcelWriter(xls_path)
    for n, df in enumerate(list_dfs):
        df.to_excel(writer, sheet_names[n])
    writer.save()
    return

#pull in data from AlphaVantage
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='NXY0VT9AHBRYGKKC',output_format='pandas')

In [48]:
active_stocks = pd.read_csv('active_names.csv', index_col = 0).dropna()

In [49]:
def historical_data(ticker, outsize = "full"):
    #outsize can be compact and full. 
    #compact returns only the latest 100 data points; full 
    #returns the full-length time series of up to 20 years of historical data. The "compact" option is 
    #recommended if you would like to reduce the data size of each API call
    alphavantage_link = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&apikey=NXY0VT9AHBRYGKKC&datatype=csv&outputsize={1}'.format(ticker, outsize)
    df = pd.read_csv(alphavantage_link)
    df.index = pd.to_datetime(df.timestamp)
    return df

In [60]:
Main_DF = historical_data("SPY")
Main_DF = Main_DF[['timestamp','close']]
Main_DF.columns = ["timestamp","SPY"]
Main_DF = Main_DF.sort_index()

In [51]:
MOMO = active_stocks.index[0:200]

In [52]:


for ticker in MOMO:
    temp_df = historical_data(ticker)
    temp_df.index = pd.to_datetime(temp_df.timestamp) #set the index as the timestamp
    temp_df = temp_df[['close']]
    temp_df.columns = [ticker]
    Main_DF = Main_DF.join(temp_df, how = "left")

Main_DF.dropna(inplace = True)
Main_DF = Main_DF.sort_index()
del Main_DF['timestamp']

In [54]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(Main_DF, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [55]:
with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [59]:
Main_DF

             timestamp       SPY
timestamp
2000-01-03  2000-01-03  145.4375
2000-01-04  2000-01-04  139.7500
2000-01-05  2000-01-05  140.0000
2000-01-06  2000-01-06  137.7500
2000-01-07  2000-01-07  145.7500
2000-01-10  2000-01-10  146.2500
2000-01-11  2000-01-11  144.5000
2000-01-12  2000-01-12  143.0625
2000-01-13  2000-01-13  145.0000
2000-01-14  2000-01-14  146.9687
2000-01-18  2000-01-18  145.8125
2000-01-19  2000-01-19  147.0000
2000-01-20  2000-01-20  144.7500
2000-01-21  2000-01-21  144.4375
2000-01-24  2000-01-24  140.3437
2000-01-25  2000-01-25  141.9375
2000-01-26  2000-01-26  140.8125
2000-01-27  2000-01-27  140.2500
2000-01-28  2000-01-28  135.8750
2000-01-31  2000-01-31  139.5625
2000-02-01  2000-02-01  140.9375
2000-02-02  2000-02-02  141.0625
2000-02-03  2000-02-03  143.1875
2000-02-04  2000-02-04  142.5937
2000-02-07  2000-02-07  142.3750
2000-02-08  2000-02-08  144.3125
2000-02-09  2000-02-09  141.2812
2000-02-10  2000-02-10  141.5625
2000-02-11  2000-02-11  138.6875
2000-02-14  2000-02-14  139.5000
...                ...       ...
2018-05-10  2018-05-10  272.0200
2018-05-11  2018-05-11  272.8500
2018-05-14  2018-05-14  272.9800
2018-05-15  2018-05-15  271.1000
2018-05-16  2018-05-16  272.2400
2018-05-17  2018-05-17  272.0100
2018-05-18  2018-05-18  271.3300
2018-05-21  2018-05-21  273.3700
2018-05-22  2018-05-22  272.6100
2018-05-23  2018-05-23  273.3600
2018-05-24  2018-05-24  272.8000
2018-05-25  2018-05-25  272.1500
2018-05-29  2018-05-29  269.0200
2018-05-30  2018-05-30  272.6100
2018-05-31  2018-05-31  270.9400
2018-06-01  2018-06-01  273.6000
2018-06-04  2018-06-04  274.9000
2018-06-05  2018-06-05  275.1000
2018-06-06  2018-06-06  277.4000
2018-06-07  2018-06-07  277.3700
2018-06-08  2018-06-08  278.1900
2018-06-11  2018-06-11  278.5600
2018-06-12  2018-06-12  278.9200
2018-06-13  2018-06-13  278.0300
2018-06-14  2018-06-14  278.7300
2018-06-15  2018-06-15  277.1300
2018-06-18  2018-06-18  276.5600
2018-06-19  2018-06-19  275.5000
2018-06-20  2018-06-20  275.9700
2018-06-21  2018-06-21  274.1700

[4647 rows x 2 columns]