In [1]:

#%% Importing modules and data
import smtplib
import pandas as pd
import numpy as np
import datetime as dt
# import pandas.stats.moments as st
import statsmodels.api as sm # import statsmodels 
from pandas import ExcelWriter
import matplotlib.pyplot as pyplot
import scipy.stats as st
import os
import quandl as qd
from collections import defaultdict
import seaborn as sns
%matplotlib inline

def save_xls(list_dfs, xls_path,sheet_names):
    writer = ExcelWriter(xls_path)
    for n, df in enumerate(list_dfs):
        df.to_excel(writer, sheet_names[n])
    writer.save()
    return

C:\Users\xexx\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# Importing data from Quandl

btc = qd.get("BITFINEX/BTCUSD", authtoken="-ZxrLoLy3vKgLtLraaMn")
btc.columns = ['High','Low','Mid','Close','Bid','Ask','Volume']

In [32]:
def ichimoku_cloud(df,w9,w26,w52):
    #crypto settings are 20, 60, 120, 30 see Josh video for confirmation
    
    # Tenkan-sen (Conversion Line): (9-period high + 9-period low)/2))
    df['period9_high'] = pd.Series.rolling(df['High'], w9).max()
    df['period9_low'] = pd.Series.rolling(df['Low'], w9).min()
    df['tenkan_sen'] = (df['period9_high'] + df['period9_low']) / 2
    
    # Kijun-sen (Base Line): (26-period high + 26-period low)/2))
    df['period26_high'] = pd.Series.rolling(df['High'], w26).max()
    df['period26_low'] = pd.Series.rolling(df['Low'], w26).min()
    df['kijun_sen'] = (df['period26_high'] + df['period26_low']) / 2
    
    df['period52_high'] = pd.Series.rolling(df['High'], w52).max()
    df['period52_low'] = pd.Series.rolling(df['Low'], w52).min()
    df['senkou_span_b'] = (df['period52_high'] + df['period52_low'] ) /2 
    
    df ['chikou_span'] = df['Close'].shift(22) 
    return df

In [33]:
ichimoku_cloud(btc,9,26,52)

,High,Low,Mid,Close,Bid,Ask,Volume,return,period9_high,period9_low,tenkan_sen,period26_high,period26_low,kijun_sen,period52_high,period52_low,senkou_span_b,chikou_span
Date,,,,,,,,,,,,,,,,,,
2014-04-15,513.9000,452.000000,504.235000,505.000000,503.500000,504.970000,21013.584774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-16,547.0000,495.000000,537.500000,538.000000,537.000000,538.000000,29633.358705,0.065347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-17,538.5000,486.100000,507.020000,508.000000,506.040000,508.000000,20709.783819,-0.055762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-18,509.0000,474.250000,483.770000,482.750000,482.750000,484.790000,10458.045243,-0.049705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-19,513.9899,473.830000,505.010650,507.499900,502.531300,507.490000,8963.618369,0.051269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-20,517.9950,492.200000,500.745753,501.440000,500.071506,501.420000,4921.588803,-0.011941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-21,515.6460,485.000000,497.090000,497.000000,497.000000,497.180000,8132.144453,-0.008854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-22,506.0000,488.800000,491.300003,491.200000,491.209991,491.390015,3105.516105,-0.011670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-23,496.0000,482.880000,490.819500,490.030000,490.040000,491.599000,4716.703433,-0.002382,547.0000,452.00,499.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-24,498.8396,480.160000,497.490000,497.980000,497.000000,497.980000,4316.108888,0.016223,547.0000,473.83,510.41500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-25,504.9600,441.300000,464.872500,463.790000,463.790000,465.955000,30376.947882,-0.068657,538.5000,441.30,489.90000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-26,469.1900,449.800100,458.300000,457.600000,457.600000,459.000000,8578.837107,-0.013347,517.9950,441.30,479.64750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-27,465.6000,440.000000,445.705000,445.000000,445.500000,445.910000,5959.686438,-0.027535,517.9950,440.00,478.99750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-28,450.0000,423.110000,445.450000,445.400000,445.400000,445.500000,16467.531309,0.000899,517.9950,423.11,470.55250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-29,454.0000,434.000000,446.275050,445.540000,445.550100,447.000000,8521.438599,0.000314,515.6460,423.11,469.37800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-30,453.6000,432.000000,449.365000,449.370000,449.360000,449.370000,6877.398301,0.008596,506.0000,423.11,464.55500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-01,463.5300,446.990000,459.595000,460.100000,459.100000,460.090000,5339.533294,0.023878,504.9600,423.11,464.03500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-02,461.6699,443.000000,449.655000,449.850000,449.460000,449.850000,3298.963199,-0.022278,504.9600,423.11,464.03500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-03,455.0000,430.000000,440.840000,441.300000,440.300000,441.380000,7611.470069,-0.019006,504.9600,423.11,464.03500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-04,441.9497,429.000000,436.549950,436.400000,436.200000,436.899900,4157.146647,-0.011104,469.1900,423.11,446.15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-05,444.4000,425.599900,431.493450,430.750000,430.750000,432.236900,5940.594101,-0.012947,465.6000,423.11,444.35500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-06,435.3900,419.400000,430.199950,430.899900,429.500000,430.899900,6980.232473,0.000348,463.5300,419.40,441.46500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-07,453.6000,424.248700,445.860000,446.000000,445.720000,446.000000,10468.475615,0.035043,463.5300,419.40,441.46500,NaN,NaN,NaN,NaN,NaN,NaN,505.000000
2014-05-08,450.5900,438.600000,442.745000,442.000000,442.000000,443.490000,4046.403494,-0.008969,463.5300,419.40,441.46500,NaN,NaN,NaN,NaN,NaN,NaN,538.000000
2014-05-10,457.0000,448.200000,455.100000,455.000000,455.000000,455.200000,2438.117552,0.029412,463.5300,419.40,441.46500,NaN,NaN,NaN,NaN,NaN,NaN,508.000000
2014-05-11,459.6500,430.000000,436.830000,436.850000,436.810000,436.850000,11882.291187,-0.039890,461.6699,419.40,440.53495,547.000,419.4,483.2000,NaN,NaN,NaN,482.750000
2014-05-12,442.0000,431.800000,439.405000,439.410000,439.400000,439.410000,3454.204641,0.005860,459.6500,419.40,439.52500,547.000,419.4,483.2000,NaN,NaN,NaN,507.499900
2014-05-13,442.0000,434.010000,438.405000,437.820000,437.810000,439.000000,1913.687047,-0.003618,459.6500,419.40,439.52500,538.500,419.4,478.9500,NaN,NaN,NaN,501.440000
2014-05-14,448.0000,437.810000,447.200000,447.000000,447.000000,447.400000,3086.767474,0.020968,459.6500,419.40,439.52500,517.995,419.4,468.6975,NaN,NaN,NaN,497.000000
2014-05-15,451.4000,442.510000,446.685000,446.970000,446.400000,446.970000,1892.639528,-0.000067,459.6500,419.40,439.52500,517.995,419.4,468.6975,NaN,NaN,NaN,491.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-16,14356.0000,13300.000000,13590.000000,13597.000000,13584.000000,13596.000000,33521.504725,0.003543,17176.0000,12639.00,14907.50000,17333.000,10700.0,14016.5000,19891.0,7871.0,13881.00,13517.000000
2018-01-17,13617.0000,9940.000000,11068.000000,11069.471833,11067.000000,11069.000000,131824.784053,-0.185889,16329.0000,9940.00,13134.50000,17252.000,9940.0,13596.0000,19891.0,7871.0,13881.00,13634.000000
2018-01-18,11497.0000,9231.100000,11121.000000,11122.000000,11120.000000,11122.000000,132258.161651,0.004745,15355.0000,9231.10,12293.05000,17252.000,9231.1,13241.5500,19891.0,8746.9,14318.95,15680.000000
2018-01-19,11904.0000,10515.000000,11008.500000,10998.734848,11003.000000,11014.000000,85181.484809,-0.011083,14999.0000,9231.10,12115.05000,17252.000,9231.1,13241.5500,19891.0,8801.0,14346.00,15375.000000
2018-01-20,11900.0000,10647.000000,11473.500000,11470.000000,11472.000000,11475.000000,48552.906828,0.042847,14999.0000,9231.10,12115.05000,17252.000,9231.1,13241.5500,19891.0,8801.0,14346.00,14323.000000
2018-01-21,13017.0000,11407.000000,12731.500000,12731.000000,12731.000000,12732.000000,46301.045013,0.109939,14580.0000,9231.10,11905.55000,17252.000,9231.1,13241.5500,19891.0,8801.0,14346.00,14308.000000
2018-01-22,12732.0000,11015.000000,11519.500000,11522.000000,11519.000000,11520.000000,53628.323062,-0.094965,14580.0000,9231.10,11905.55000,17252.000,9231.1,13241.5500,19891.0,8801.0,14346.00,12385.000000
2018-01-23,11900.0000,10009.000000,10788.500000,10789.000000,10788.000000,10789.000000,66349.395242,-0.063617,14393.0000,9231.10,11812.05000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,13769.000000
2018-01-24,11427.0000,9900.000000,10826.500000,10826.000000,10826.000000,10827.000000,63856.859731,0.003429,14356.0000,9231.10,11793.55000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,13375.000000
2018-01-25,11734.0000,10845.000000,11187.500000,11187.000000,11187.000000,11188.000000,34904.367696,0.033346,13617.0000,9231.10,11424.05000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,14723.095748
2018-01-26,11700.0000,10276.000000,11130.500000,11131.000000,11130.000000,11131.000000,56653.170263,-0.005006,13017.0000,9231.10,11124.05000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,15134.000000
2018-01-27,11689.0000,10800.000000,11375.000000,11380.000000,11370.000000,11380.000000,34402.674081,0.022370,13017.0000,9900.00,11458.50000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,15175.000000
2018-01-28,12190.0000,11376.000000,11849.500000,11849.000000,11849.000000,11850.000000,29746.362144,0.041213,13017.0000,9900.00,11458.50000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,16900.000000
2018-01-29,11975.0000,11070.000000,11223.500000,11223.000000,11223.000000,11224.000000,25482.562438,-0.052831,13017.0000,9900.00,11458.50000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,17175.000000
2018-01-30,11252.0000,9860.400000,10076.500000,10077.000000,10076.000000,10077.000000,61000.071126,-0.102112,12732.0000,9860.40,11296.20000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,16180.000000
2018-01-31,10414.0000,9760.000000,10191.500000,10192.000000,10191.000000,10192.000000,43449.543452,0.011412,12190.0000,9760.00,10975.00000,17252.000,9231.1,13241.5500,19891.0,9231.1,14561.05,14920.000000
2018-02-01,10336.0000,8941.000000,9273.500000,9273.000000,9273.000000,9274.000000,78876.962756,-0.090169,12190.0000,8941.00,10565.50000,17252.000,8941.0,13096.5000,19891.0,8941.0,14416.00,14462.000000
2018-02-02,9274.0000,7960.000000,8850.850000,8850.600000,8850.700000,8851.000000,123331.976305,-0.045552,12190.0000,7960.00,10075.00000,17176.000,7960.0,12568.0000,19891.0,7960.0,13925.50,14900.000000
2018-02-03,9499.0000,8180.000000,9154.750000,9160.000000,9153.500000,9156.000000,51843.051908,0.034958,12190.0000,7960.00,10075.00000,16329.000,7960.0,12144.5000,19891.0,7960.0,13925.50,13254.000000
2018-02-04,9410.0000,7809.000000,8248.600000,8249.000000,8248.200000,8249.000000,74255.841630,-0.099454,12190.0000,7809.00,9999.50000,15355.000,7809.0,11582.0000,19891.0,7809.0,13850.00,13800.000000
2018-02-05,8380.0000,6651.000000,6886.100000,6884.000000,6885.800000,6886.400000,130669.112426,-0.165475,12190.0000,6651.00,9420.50000,14999.000,6651.0,10825.0000,19891.0,6651.0,13271.00,14197.000000
2018-02-06,7880.0000,6000.000000,7732.250000,7732.200000,7732.200000,7732.300000,193091.842467,0.123213,11975.0000,6000.00,8987.50000,14999.000,6000.0,10499.5000,19891.0,6000.0,12945.50,13549.000000
2018-02-07,8488.9000,7175.100000,7666.750000,7670.000000,7666.500000,7667.000000,105762.991986,-0.008044,11252.0000,6000.00,8626.00000,14580.000,6000.0,10290.0000,19891.0,6000.0,12945.50,13597.000000
2018-02-08,8648.9000,7535.000000,8242.100000,8240.200000,8239.900000,8244.300000,78925.007078,0.074342,10414.0000,6000.00,8207.00000,14580.000,6000.0,10290.0000,19175.0,6000.0,12587.50,11069.471833
2018-02-09,8750.0000,7724.900000,8699.950000,8700.000000,8699.900000,8700.000000,63095.105839,0.055800,10336.0000,6000.00,8168.00000,14393.000,6000.0,10196.5000,18987.0,6000.0,12493.50,11122.000000
2018-02-10,9074.9000,8151.300000,8569.450000,8569.100000,8569.000000,8569.900000,68230.557428,-0.015046,9499.0000,6000.00,7749.50000,14356.000,6000.0,10178.0000,17709.0,6000.0,11854.50,10998.734848
2018-02-11,8572.0000,7851.000000,8069.950000,8069.000000,8069.000000,8070.900000,51740.351421,-0.058361,9499.0000,6000.00,7749.50000,13617.000,6000.0,9808.5000,17333.0,6000.0,11666.50,11470.000000
2018-02-12,9000.0000,8000.000000,8887.400000,8885.300000,8885.300000,8889.500000,51267.104777,0.101165,9410.0000,6000.00,7705.00000,13017.000,6000.0,9508.5000,17252.0,6000.0,11626.00,12731.000000
2018-02-13,8952.9000,8313.521921,8536.350000,8536.200000,8536.200000,8536.500000,40203.216186,-0.039290,9074.9000,6000.00,7537.45000,13017.000,6000.0,9508.5000,17252.0,6000.0,11626.00,11522.000000
2018-02-14,9489.0000,8500.000000,9471.450000,9469.000000,9470.000000,9472.900000,50278.687217,0.109276,9489.0000,6000.00,7744.50000,13017.000,6000.0,9508.5000,17252.0,6000.0,11626.00,10789.000000