In [29]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import numpy as np
%matplotlib inline

In [30]:
FB = pd.read_csv('FB.csv')

In [31]:
FB.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
5,2012-05-25,32.900002,32.950001,31.110001,31.910000,31.910000,37149800
6,2012-05-29,31.480000,31.690001,28.650000,28.840000,28.840000,78063400
7,2012-05-30,28.700001,29.549999,27.860001,28.190001,28.190001,57267900
8,2012-05-31,28.549999,29.670000,26.830000,29.600000,29.600000,111639200
9,2012-06-01,28.889999,29.150000,27.389999,27.719999,27.719999,41855500

In [32]:
def ichimoku_cloud(df,w9,w26,w52,chikou26):
    #crypto settings are 20, 60, 120, 30 see Josh video for confirmation
    #https://www.youtube.com/watch?v=5x0r-qcGoQQ&t=1s
    
    
    # Tenkan-sen (Conversion Line): (9-period high + 9-period low)/2))
    df['period9_high'] = pd.Series.rolling(df['High'], w9).max()
    df['period9_low'] = pd.Series.rolling(df['Low'], w9).min()
    df['tenkan_sen'] = (df['period9_high'] + df['period9_low']) / 2
    
    # Kijun-sen (Base Line): (26-period high + 26-period low)/2))
    df['period26_high'] = pd.Series.rolling(df['High'], w26).max()
    df['period26_low'] = pd.Series.rolling(df['Low'], w26).min()
    df['kijun_sen'] = (df['period26_high'] + df['period26_low']) / 2
    
    df['period52_high'] = pd.Series.rolling(df['High'], w52).max()
    df['period52_low'] = pd.Series.rolling(df['Low'], w52).min()
    df['senkou_span_b'] = (df['period52_high'] + df['period52_low'] ) /2 
    
    df ['chikou_span'] = df['Close'].shift(chikou26) 
    return df

In [33]:
ichimoku_cloud(FB,9,26,52,26)
FB.dropna(inplace = True)

In [ ]:

def returns_df(df):
    df['position'] = None
    for row in range(len(df)):
        if df['tenkan_sen'].iloc[row] > df['kijun_sen'].iloc[row]:
            df['position'].iloc[row] = 1
        else:
            df['position'].iloc[row] = -1
    df['position'].fillna(method = 'ffill', inplace = True)
    df['market return'] = np.log(df['Close'] / df['Close'].shift(1))
    df['strategy return'] = df['position'] * df['market return']
    
            
    return df

In [ ]:
returns_df(FB)

C:\Users\scheng\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)