The model includes both an offensive and defensive universe:
- Offensive: US equities (represented by SPY), international equities (EFA), emerging market equities (EEM) and US aggregate bonds (AGG). More on the seemingly odd inclusion of AGG as an offensive asset in a moment.
- Defensive: US corporate bonds (LQD), US intermediate-term Treasuries (IEF) and US short-term Treasuries (SHY).
- For all assets, at the close on the last trading day of the month, calculate a “momentum score” based on month-end data as follows:
$$12(\frac{p_0}{p_1} – 1) + 4(\frac{p_0}{p_3} – 1) + 2(\frac{p_0}{p_6} – 1) + (\frac{p_0}{p_{12}} – 1)$$
 - Where p0 = the asset price at today’s close, p1 = the asset price at the close of the previous month, etc.
 - Note how this approach overweights more recent months. Doing the math, the most recent 1-month change (p0/p1 – 1) determines 40% of the momentum score, while the most distant month (p11/p12 – 1) determines just ~2%.

- If all four of the offensive assets exhibit positive momentum scores, select the offensive asset with the highest score and allocate 100% of the portfolio to that asset at the close. Note the use of both absolute and relative momentum here, an idea popularized by Gary Antonacci as “Dual Momentum”. Why is that important? Historically, absolute momentum has done well minimizing losses, while relative momentum has helped in generating outsized returns.
- If any of the four offensive assets exhibit negative momentum scores, select the defensive asset (LQD, IEF or SHY) with the highest score (regardless of whether the score is > 0) and allocate 100% of the portfolio to that asset at the close. As we do throughout this site, trades in SHY are assumed to be placed in cash, as it’s more relevant to today’s market given SHY’s low yields coupled with the impact of transaction costs and how frequently this strategy trades.
- Hold the position until the final trading day of the following month.

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Fri May 25 22:22:16 2018

@author: xexx
"""

import pandas as pd
import numpy as np
import pickle

#pull in data from AlphaVantage
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='NXY0VT9AHBRYGKKC',output_format='pandas')

In [2]:
def historical_data(ticker, outsize = "full"):
    #outsize can be compact and full. 
    #compact returns only the latest 100 data points; full 
    #returns the full-length time series of up to 20 years of historical data. The "compact" option is 
    #recommended if you would like to reduce the data size of each API call
    alphavantage_link = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&apikey=NXY0VT9AHBRYGKKC&datatype=csv&outputsize={1}'.format(ticker, outsize)
    df = pd.read_csv(alphavantage_link)
    return df

In [3]:
VAA = ['AGG', 'EFA', 'EEM']
Maindf = historical_data("SPY")
Maindf.index = pd.to_datetime(Maindf.timestamp) #set the index as the timestamp
#Maindf.index = pd.to_datetime(Maindf.index) #make the index datetime
Maindf = Maindf[['timestamp','close']]
Maindf.columns = ["timestamp","SPY"]

In [4]:
for ticker in VAA:
    temp_df = historical_data(ticker)
    temp_df.index = pd.to_datetime(temp_df.timestamp) #set the index as the timestamp
    temp_df = temp_df[['close']]
    temp_df.columns = [ticker]
    Maindf = Maindf.join(temp_df, how = "left")

Maindf.dropna(inplace = True)
Maindf = Maindf.sort_index()

In [5]:
Maindf = Maindf.sort_index()

In [6]:
Maindf.head(5)

             timestamp     SPY     AGG     EFA     EEM
timestamp
2003-09-26  2003-09-26   99.95  102.45  117.00  135.40
2003-09-29  2003-09-29  100.93  102.17  118.50  136.36
2003-09-30  2003-09-30   99.95  102.70  117.00  135.93
2003-10-01  2003-10-01  102.08  102.65  120.84  139.50
2003-10-02  2003-10-02  102.45  102.49  120.65  141.50

In [7]:
Maindf['Year'] = Maindf.index.year
Maindf['Month'] = Maindf.index.month

In [8]:
Maindf['Month Change'] = Maindf['Month'] - Maindf['Month'].shift(1) #shift 1 is to shift down

In [44]:
Maindf_EOM = Maindf[Maindf['Month Change'] != 0]
Maindf_EOM = Maindf_EOM[['SPY','AGG','EFA','EEM']]

In [11]:
Maindf_EOM.to_csv('VAA.csv')

In [52]:
Maindf_EOM_VAA = Maindf_EOM.pct_change(12) + 2 * Maindf_EOM.pct_change(6) + 4 * Maindf_EOM.pct_change(3) + 12 * Maindf_EOM.pct_change(1)

In [53]:
Maindf_EOM_VAA

                 SPY       AGG        EFA        EEM
timestamp
2003-09-26       NaN       NaN        NaN        NaN
2003-10-01       NaN       NaN        NaN        NaN
2003-11-03       NaN       NaN        NaN        NaN
2003-12-01       NaN       NaN        NaN        NaN
2004-01-02       NaN       NaN        NaN        NaN
2004-02-02       NaN       NaN        NaN        NaN
2004-03-01       NaN       NaN        NaN        NaN
2004-04-01       NaN       NaN        NaN        NaN
2004-05-03       NaN       NaN        NaN        NaN
2004-06-01       NaN       NaN        NaN        NaN
2004-07-01       NaN       NaN        NaN        NaN
2004-08-02       NaN       NaN        NaN        NaN
2004-09-01  0.008103  0.301792   0.213606   0.700469
2004-10-01  0.387371 -0.002199   0.686426   1.628946
2004-11-01  0.168294  0.206578   0.806082   1.225184
2004-12-01  1.112711 -0.143015   1.975987   2.767663
2005-01-03  0.553620  0.163245   0.932709   1.435252
2005-02-01  0.236155  0.074717   0.692767   1.516379
2005-03-01  0.522916 -0.112739   1.110188   2.534896
2005-04-01 -0.372973 -0.170652  -0.108854  -0.356128
2005-05-02 -0.100872  0.070055   0.043106   0.357829
2005-06-01  0.487395  0.271255  -0.128678   0.670606
2005-07-01  0.021471  0.022897 -12.623928 -12.296115
2005-08-01  0.855747 -0.156853  -4.022241  -3.080222
2005-09-01  0.074948  0.119425  -3.958237  -4.151457
2005-10-03  0.280315 -0.297448  -1.185624   0.020569
2005-11-01 -0.176982 -0.254319  -1.964938  -2.250105
2005-12-01  0.920114 -0.222989  -1.338551  -0.575672
2006-01-03  0.307886  0.047096   0.548122   1.023397
2006-02-01  0.578718 -0.151743   0.476865   2.252133
...              ...       ...        ...        ...
2015-12-01  0.426470 -0.056119  -0.044872  -0.718543
2016-01-04 -0.449134 -0.176368  -0.892989  -1.841020
2016-02-01 -0.953001  0.076159  -1.294674  -1.567173
2016-03-01  0.038365  0.088322  -0.750081  -0.186586
2016-04-01  0.810950  0.209958   0.085534   1.326499
2016-05-02  0.320629  0.101066   0.561764   0.305157
2016-06-01  0.368195  0.048400  -0.111298  -0.460624
2016-07-01  0.138311  0.446759  -0.763636   0.731822
2016-08-01  0.848392  0.153808   0.279304   1.093968
2016-09-01  0.488573  0.149172   0.404478   1.146963
2016-10-03  0.231504 -0.006744   0.381815   0.994232
2016-11-01 -0.342427 -0.141379  -0.405732  -0.014960
2016-12-01  0.657568 -0.592185  -0.494225  -0.617411
2017-01-03  0.751684 -0.162967   0.348744   0.052132
2017-02-01  0.715545 -0.231868   0.684463   1.011477
2017-03-01  1.425570 -0.065583   0.715112   1.115783
2017-04-03  0.274985  0.010791   0.734554   1.052942
2017-05-01  0.775111 -0.021735   0.950378   0.881816
2017-06-01  0.669081  0.161007   1.307953   1.307369
2017-07-03  0.364736 -0.041880   0.349171   0.777137
2017-08-01  0.711099  0.106966   1.067016   1.591627
2017-09-01  0.306165  0.063218   0.284204   1.251472
2017-10-02  0.697609 -0.056202   0.819111   0.667773
2017-11-01  0.788252 -0.034946   0.744100   1.262999
2017-12-01  0.970916 -0.035838   0.526825   0.398048
2018-01-02  0.868923  0.002307   0.707424   1.514333
2018-02-01  1.460279 -0.289244   1.227394   1.550098
2018-03-01 -0.265809 -0.265833  -0.650294  -0.027091
2018-04-02 -0.491845 -0.115315  -0.069830   0.132314
2018-05-01  0.282576 -0.301286   0.239821  -0.306111

[177 rows x 4 columns]

In [13]:
with open('filename.pickle', 'wb') as handle:
    pickle.dump(Maindf, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [14]:
with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [15]:
import volatility as vm

In [16]:
b.tail(10)

,timestamp,SPY,AGG,EFA,EEM,Year,Month,Month Change
timestamp,,,,,,,,
2018-05-17,2018-05-17,272.01,105.03,71.59,46.46,2018,5,0.0
2018-05-18,2018-05-18,271.33,105.30,71.33,46.07,2018,5,0.0
2018-05-21,2018-05-21,273.37,105.31,71.78,46.35,2018,5,0.0
2018-05-22,2018-05-22,272.61,105.31,71.69,46.51,2018,5,0.0
2018-05-23,2018-05-23,273.36,105.60,70.90,46.49,2018,5,0.0
2018-05-24,2018-05-24,272.80,105.89,70.68,46.24,2018,5,0.0
2018-05-25,2018-05-25,272.15,106.12,70.22,46.43,2018,5,0.0
2018-05-29,2018-05-29,269.02,106.82,68.79,45.35,2018,5,0.0
2018-05-30,2018-05-30,272.61,106.55,69.84,45.71,2018,5,0.0
2018-05-31,2018-05-31,270.94,106.46,69.40,45.69,2018,5,0.0