In [1]:
import pandas as pd
import numpy as np
import pickle
from pandas import ExcelWriter
import ffn
%matplotlib inline

def save_xls(list_dfs, xls_path,sheet_names):
    writer = ExcelWriter(xls_path)
    for n, df in enumerate(list_dfs):
        df.to_excel(writer, sheet_names[n])
    writer.save()
    return

#pull in data from AlphaVantage
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='NXY0VT9AHBRYGKKC',output_format='pandas')

In [2]:
active_stocks = pd.read_csv('active_names.csv', index_col = 0).dropna()

In [11]:
def historical_data(ticker, outsize = "full"):
    #outsize can be compact and full. 
    #compact returns only the latest 100 data points; full 
    #returns the full-length time series of up to 20 years of historical data. The "compact" option is 
    #recommended if you would like to reduce the data size of each API call
    alphavantage_link = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={0}&apikey=NXY0VT9AHBRYGKKC&datatype=csv&outputsize={1}'.format(ticker, outsize)
    df = pd.read_csv(alphavantage_link)
    df.index = pd.to_datetime(df.timestamp)
    return df

In [26]:
Main_DF = historical_data("SPY")
Main_DF = Main_DF[['timestamp','close']]
Main_DF.columns = ["timestamp","SPY"]

In [27]:
MOMO = active_stocks.index[0:5]

for ticker in MOMO:
    temp_df = historical_data(ticker)
    temp_df.index = pd.to_datetime(temp_df.timestamp) #set the index as the timestamp
    temp_df = temp_df[['close']]
    temp_df.columns = [ticker]
    Main_DF = Main_DF.join(temp_df, how = "left")

Main_DF.dropna(inplace = True)
Main_DF = Main_DF.sort_index()

In [28]:
Main_DF

             timestamp      SPY    AMD     TSLA    BAC        FB      JD
timestamp
2014-05-22  2014-05-22  189.590   4.01  204.880  14.71   60.5200  20.900
2014-05-23  2014-05-23  190.350   4.02  207.300  14.72   61.3510  20.100
2014-05-27  2014-05-27  191.520   4.04  211.560  15.22   63.4800  22.970
2014-05-28  2014-05-28  191.380   4.00  210.240  15.14   63.5100  24.780
2014-05-29  2014-05-29  192.370   4.03  210.240  15.15   63.8300  25.400
2014-05-30  2014-05-30  192.680   4.00  207.770  15.14   63.3000  25.000
2014-06-02  2014-06-02  192.895   3.97  204.700  15.26   63.0800  24.600
2014-06-03  2014-06-03  192.800   3.94  204.940  15.21   62.8700  25.100
2014-06-04  2014-06-04  193.190   4.04  203.990  15.21   63.3400  24.540
2014-06-05  2014-06-05  194.450   4.08  206.900  15.43   63.1860  25.780
2014-06-06  2014-06-06  195.375   4.06  208.171  15.59   62.5000  26.580
2014-06-09  2014-06-09  195.580   4.07  205.310  15.84   62.8800  28.430
2014-06-10  2014-06-10  195.600   4.20  202.300  15.92   65.7700  28.350
2014-06-11  2014-06-11  194.920   4.29  204.470  15.59   65.7810  29.000
2014-06-12  2014-06-12  193.540   4.29  203.520  15.42   64.2901  27.170
2014-06-13  2014-06-13  194.130   4.28  206.420  15.44   64.5000  27.790
2014-06-16  2014-06-16  194.290   4.44  224.610  15.28   64.1900  26.890
2014-06-17  2014-06-17  194.830   4.47  231.670  15.59   64.4000  27.019
2014-06-18  2014-06-18  196.255   4.40  227.120  15.65   65.6000  26.520
2014-06-19  2014-06-19  196.480   4.36  227.790  15.55   64.3415  25.830
2014-06-20  2014-06-20  195.940   4.10  229.590  15.45   64.5000  25.450
2014-06-23  2014-06-23  195.880   4.01  237.220  15.64   65.3700  26.370
2014-06-24  2014-06-24  194.700   3.94  232.500  15.49   65.7200  27.040
2014-06-25  2014-06-25  195.580   3.96  236.891  15.47   67.4400  27.070
2014-06-26  2014-06-26  195.440   4.03  235.600  15.41   67.1300  28.300
2014-06-27  2014-06-27  195.820   4.11  239.060  15.33   67.6000  28.010
2014-06-30  2014-06-30  195.720   4.19  240.060  15.37   67.2900  28.510
2014-07-01  2014-07-01  197.030   4.22  239.720  15.60   68.0600  29.690
2014-07-02  2014-07-02  197.230   4.34  229.425  15.85   66.4500  28.960
2014-07-03  2014-07-03  198.200   4.24  229.250  16.03   66.2900  27.790
...                ...      ...    ...      ...    ...       ...     ...
2016-11-17  2016-11-17  218.990   8.46  188.660  20.08  117.7900  26.750
2016-11-18  2016-11-18  218.500   8.71  185.020  20.00  117.0200  26.450
2016-11-21  2016-11-21  220.150   8.94  184.520  20.33  121.7700  26.000
2016-11-22  2016-11-22  220.580   8.69  191.170  20.30  121.4700  25.810
2016-11-23  2016-11-23  220.700   8.80  193.140  20.56  120.8400  25.740
2016-11-25  2016-11-25  221.520   8.77  196.650  20.86  120.3800  25.540
2016-11-28  2016-11-28  220.480   8.83  196.120  20.30  120.4100  25.830
2016-11-29  2016-11-29  220.910   8.93  189.570  20.29  120.8700  26.850
2016-11-30  2016-11-30  220.380   8.91  189.400  21.12  118.4200  26.870
2016-12-01  2016-12-01  219.570   8.39  181.880  21.50  115.1000  26.300
2016-12-02  2016-12-02  219.680   8.53  181.470  21.23  115.4000  25.880
2016-12-05  2016-12-05  221.000   8.68  186.800  21.84  117.4300  25.950
2016-12-06  2016-12-06  221.700   9.45  185.850  22.16  117.3100  25.830
2016-12-07  2016-12-07  224.600   9.56  193.150  22.57  117.9500  26.980
2016-12-08  2016-12-08  225.150  10.34  192.290  22.95  118.9100  26.970
2016-12-09  2016-12-09  226.510  10.34  192.180  23.09  119.6800  26.840
2016-12-12  2016-12-12  226.250  10.68  192.430  22.61  117.7700  26.160
2016-12-13  2016-12-13  227.760  10.54  198.150  22.61  120.3100  26.660
2016-12-14  2016-12-14  225.880  10.55  198.690  22.67  120.2100  26.950
2016-12-15  2016-12-15  226.810  10.86  197.580  23.16  120.5700  25.770
2016-12-16  2016-12-16  225.040  10.66  202.490  22.66  119.8700  25.610
2016-12-19  2016-12-19  225.530  10.95  202.730  22.48  119.2400  25.380
2016-12-20  2016-12-20  226.400  11.51  208.790  22.71  119.0900  25.520
2016-12-21  2016-12-21  225.770  11.47  207.700  22.63  119.0400  25.880
2016-12-22  2016-12-22  225.380  11.60  208.450  22.54  117.4000  25.620
2016-12-23  2016-12-23  225.710  11.58  213.340  22.60  117.2700  25.490
2016-12-27  2016-12-27  226.270  12.07  219.530  22.61  118.0100  25.930
2016-12-28  2016-12-28  224.400  11.55  219.740  22.33  116.9200  25.740
2016-12-29  2016-12-29  224.350  11.59  214.680  22.00  116.3500  25.640
2016-12-30  2016-12-30  223.530  11.34  213.690  22.10  115.0500  25.440

[659 rows x 7 columns]